# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore the ISP config site directories
error
stats
index.html